.cards {
    width: 83%;
    margin: 0 auto;
    color: var(--black);
    text-align: center;
}

.cards .card {
    background: var(--header-color);
    padding: 1.6rem;
    text-align: center;
    line-height: 3rem;
    display: inline-block;
    width: 400px;
    margin: 0 0.7rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
}

.cards .card:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.cards .card img {
    margin: 3rem;
    width: 200px;
    height: 140px;
}

.cards .card h2 {
    font-size: 3rem;
}

.cards .card p {
    color: var(--light-color);
}

#features .card p {
    margin: 1rem 0;
    font-size: 1.4rem;
}

#products .card p {
    margin-top: 1rem;
    font-size: 2rem;
}

#categories .card p {
    margin: 1rem 0;
    font-size: 1.8rem;
}

#categories .card {
    width: 295px;
}

#review .card p {
    margin: 1rem 0;
    font-size: 1.8rem;
}

#review .card .img {
    width: 140px;
    height: 140px;
    margin: 3rem auto;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#review .card img {
    border-radius: inherit;
}

#review .card .img::before {
    content: "";
    position: absolute;

    width: inherit;
    height: inherit;
    margin: inherit;
    border-radius: inherit;

    padding: 1rem;
    animation: rotation 4s linear infinite;

    border: 2px solid transparent;
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* blogs */
#blogs .card {
    outline: none;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    text-align: left;
}

#blogs .card img {
    width: 100%;
    height: 250px;
    margin: 0;
}

#blogs .card .under-img-icons {
    display: flex;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    border-bottom: 3px solid var(--body-color);
}

#blogs .card .under-img-icons i {
    font-size: 1.4rem;
}

#blogs .card .under-img {
    padding: 1.7rem;
}

#blogs .card h2 {
    font-size: 2.5rem;
}

#blogs .card p {
    font-size: 1.7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#blogs .card button {
    margin-left: 0;
}

.cards .card i {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--orange);
}

.cards .card button {
    margin: 1rem;
}

@media(max-width: 1600px) {
    .cards .card {
        margin-bottom: 2rem;
    }
}